<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Git Release Manager</title>
  </head>
  <body>
    <h1> Git Release Manager </h1>
    <br/>
    <form action='/release'method="POST">
      <p>
        <label>Please Enter Your Release Version Number:</label>
        <input id="releaseID" name="release_id"></input>
      </p>
      <p>
        <label>Please Enter Your New Version Number:</label>
        <input id="newID" name="new_id"></input>
      </p>
      <p><input type = "submit" value = "submit" /></p>
    </form>
    
  </body>
</html>
